version: '3'
services:
    web:
        build: .
        volumes:
            - ./app:/app
            - ./uploads:/uploads
        ports: ["80:80"]
        environment: 
            - API=http://localhost:8080

networks:
    default:
        external:
            name: aiir_network
